  <footer>
        <div class="container">
            <div class="footer-container">
                <div class="footer-col">
                    <h4>VinilExpress</h4>
                    <p>Fabricantes de rótulos de vinil de alta calidad para todo tipo de aplicaciones profesionales y personales.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                </div>
                <div class="footer-col">
                    <h4>Enlaces Rápidos</h4>
                    <ul>
                        <li><a href="../home">Inicio</a></li>
                        <li><a href="#services">Servicios</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                </div>
                
                <% if (!usuario) { %>
                    <div class="footer-col">
                        <h4>Administrar elementos</h4>
                        <ul>
                            <li><a href="../auth/">Login Admin</a></li>
                        </ul>
                    </div>
                
        <% } %> 
            </div>
            <div class="copyright">
                <p>&copy; 2023 ReyRotulos. Web desarrollada por <a href="https://riuklip.github.io/InnovaTech/">Innovatech</a>.</p>
            </div>
        </div>
    </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js" ></script>
        <script>
        // Smooth scrolling para los enlaces de navegación
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                
                const targetId = this.getAttribute('href');
                if(targetId === '#') return;
                
                const targetElement = document.querySelector(targetId);
                if(targetElement) {
                    window.scrollTo({
                        top: targetElement.offsetTop - 80,
                        behavior: 'smooth'
                    });
                }
            });
        });
    </script>